@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf')
}
@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf')
}
/*http://meyerweb.com/eric/tools/css/reset/*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    font: inherit;
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0
}

body {
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background: url("../img/bg.svg");
    background-size: 200%;
    float: left;
}

#logo {
    background-image: url("../img/logo.png");
    background-size: 100%;
}

.card {
    position: absolute;
    float: left;
    width: 30vw;
    height: 50vh;
    left: 35vw;
    top: 10vh;
    background-color: #fff;
}
